<%= form_for @task do |f| %>
<%= f.label :title %>
<%= f.text_field :title %>
<%= f.label :details %>
<%= f.text_field :details %>
<%= f.submit %>
<% end %>

<hr>

<%= link_to "Back to tasks", tasks_path %>


<hr>



